.wrapper{
    padding: 18px 0;
    border-top: 1px solid rgba(22, 24, 35, 0.07);
    margin-left: 8px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.07);
}

.title{
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 16px;
}

.list-item{
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.item{
    
    &:hover{
        background-color: rgba(22, 24, 35, 0.07);
    }
}