.wapper {
    --search-border-radius : 92px;
    --search-height :46px;
    --search-spacer :9px;
    --search-btn-width : 62px;

    position: fixed;
    display: flex;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    justify-content: center;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}

.inner{
    height: 100%;
    padding: 0 24px;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo{
    display: flex;
    align-items: center;
}


// actions
.actions{
    display: flex;
    align-items: center;
}

//header-right

.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.upload-btn{
    color :#161823 ;
    background: transparent;
    font-size: 2.4rem;
    padding: 4px 12px;
    cursor: pointer;
}

.text-btn{
    margin-left: 16px;
    cursor: pointer;
    padding: 3px 3px 0;
    height: 32px;
    width: 32px;
}

.messages-btn{
    margin-left: 16px;
    cursor: pointer;
}

.user-avarta{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
