.search-result, .search {
    width: 361px;
}

.search{
    padding-left: 16px;
    height: var(--search-height);
    background-color: rgb(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    input{
        flex: 1;
        height: 100%;
        padding-left: 16px;
        padding-right: 40px;
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        border: none;
        caret-color: var(--primary-color);
    }

    &::after {
        content: "";
        position: absolute;
        height: calc(var(--search-height) - var(--search-spacer)*2 );
        width: 1px;
        top: var(--search-spacer);
        right: var(--search-btn-width);
        background-color: rgba(22, 24, 35, 0.13);
        
    }

    &:focus-within{
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }

    input:not(:placeholder-shown) ~ .search-btn{
        color: rgba(22, 24, 35, 0.75);
    }
}

.search-title{
    color: rgba(22,24,35,0.5);
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px 12px;
}

.clear,
.loading{
    position: absolute;
    right: calc(var(--search-btn-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading{
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from{
        transform:translateY(-50%) rotate(0);
    }
    to{
        transform:translateY(-50%) rotate(360deg);
    }
}

.search-btn{
    width: var(--search-btn-width);
    height: 100%;
    border: none;
    // padding-left: 26px;
    outline: none;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover{
        cursor: pointer;
        background-color: rgba(22, 24, 35, 0.03);
    }

    &:active{
        background-color: rgba(22, 24, 35, 0.06);
    }
}