.wrapper {
  font-family: "ProximaNova", sans-serif;
}

.list-item {
  padding-top: 16px;
  padding-left: 8px;
}
.item {
  margin-bottom: 8px;
}

.item-link {
  color: rgba(22, 24, 35, 0.5);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
  margin: 5px 6px 0 0;
}

.year {
  color: rgba(22, 24, 35, 0.5);
  font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  display: inline-block;
  margin-right: 6px;
  margin-top: 5px;
}
